@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin-left: 10.31rem;
  margin-right: 10.31rem;
}

#home {
  height: 100vh;
  background-image: url("/assets/background/background-home.png");
}
#home .logo {
  display: flex;
  justify-content: center;
}
#home nav ul {
  display: flex;
  justify-content: center;
}
#home nav ul li {
  list-style: none;
  color: #fff;
  margin: 1rem;
  font-family: "poppins", sans-serif;
}
