@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin-left: 10.31rem;
  margin-right: 10.31rem;
}

#home {
  height: 100vh;
  background-image: url("/assets/background/background-home.png");
  background-size: cover;
  background-position: center;
}
#home .logo {
  display: flex;
  justify-content: center;
}
#home nav ul {
  display: flex;
  justify-content: center;
}
#home nav ul li {
  list-style: none;
  color: #fff;
  margin: 1rem;
  font-family: "poppins", sans-serif;
}
#home .home {
  height: 50%;
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .home .logohome {
  animation: elolegacy 5s ease-in-out infinite;
}
#home .home img {
  width: 20rem;
}
@keyframes elolegacy {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30%);
  }
}
#home .home p {
  color: #fff;
  font-family: "poppins", sans-serif;
  text-align: center;
}

#services {
  height: 70vh;
  background: #0C0F1B;
  position: relative;
}
#services .cards {
  width: 80%;
  height: 95%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin: auto;
}
#services .cards .card {
  width: 15rem;
  height: 90%;
  text-align: center;
  margin: 2rem;
  border-radius: 0.5rem;
  background: #000;
  display: grid;
  place-content: center;
  place-items: center;
  transition: 0.5s;
}
#services .cards .card:hover {
  transform: translateY(-1.5rem);
}
#services .cards .card .contro {
  margin-bottom: 2.5rem;
}
#services .cards .card img {
  width: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#services .cards .card h3 {
  color: #F28705;
}
#services .cards .card p {
  color: #fff;
}
#services .cards div {
  background: #0B7ABF;
  width: 70%;
  margin: 2rem auto;
  border-radius: 0.5rem;
}

#boosts {
  background-image: url("/assets/background/background-boosts.png");
  height: 100vh;
}
#boosts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#boosts .container h2 {
  font-size: 2.5rem;
  padding-top: 2rem;
  margin-bottom: 4.18rem;
  color: #fff;
}
#boosts .container .people {
  display: grid;
  place-items: center;
  gap: 1.56rem;
  grid-template-columns: 26.25rem 26.25rem;
}
#boosts .container .people .pearson {
  background: #0C0F1B;
  border-radius: 10px;
  width: 90%;
  padding: 1.875rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
#boosts .container .people .pearson img {
  clip-path: circle(50%);
  width: 6.25rem;
}
#boosts .container .people .pearson .about-pearson {
  margin-left: 1rem;
}
#boosts .container .people .pearson .about-pearson h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
}
#boosts .container .people .pearson .about-pearson p {
  font-size: 1.5rem;
  color: #F28705;
}
