@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin-left: 10.31rem;
  margin-right: 10.31rem;
}

#home {
  height: 100vh;
  background-size: cover;
  background-position: center;
}
#home .logo {
  display: flex;
  justify-content: center;
}
#home .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index: -100;
  overflow: hidden;
}
#home nav ul {
  display: flex;
  justify-content: center;
}
#home nav ul li {
  list-style: none;
  color: #fff;
  margin: 1rem;
  font-family: "poppins", sans-serif;
}
#home .home {
  height: 50%;
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .home .logohome {
  animation: elolegacy 5s ease-in-out infinite;
}
#home .home img {
  width: 20rem;
}
@keyframes elolegacy {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30%);
  }
}
#home .home p {
  color: #fff;
  font-family: "poppins", sans-serif;
  text-align: center;
}

#services {
  height: 60vh;
  background: #0C0F1B;
  position: relative;
}
#services .cards {
  width: 80%;
  height: 95%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin: auto;
}
#services .cards .card {
  width: 15rem;
  height: 90%;
  text-align: center;
  margin: 2rem;
  border-radius: 0.5rem;
  background: #000;
  display: grid;
  place-content: center;
  place-items: center;
  transition: 0.5s;
  margin-top: -7rem;
}
#services .cards .card:hover {
  transform: translateY(-1.5rem);
}
#services .cards .card .contro {
  margin-bottom: 2.5rem;
}
#services .cards .card img {
  width: 5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
#services .cards .card h3 {
  color: #F28705;
}
#services .cards .card p {
  color: #fff;
}
#services .cards div {
  background: #0B7ABF;
  width: 70%;
  margin: 2rem auto;
  border-radius: 0.5rem;
}

#boosts {
  background-image: url("/assets/background/background-boosts.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#boosts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 0;
}
#boosts .container h2 {
  font-size: 2rem;
  margin-bottom: 4.18rem;
  color: #fff;
}
#boosts .container .people {
  display: grid;
  place-items: center;
  gap: 1.56rem;
  grid-template-columns: repeat(3, 23rem);
}
#boosts .container .people .pearson {
  background: #0C0F1B;
  border-radius: 10px;
  width: 90%;
  padding: 1.875rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
#boosts .container .people .pearson img {
  clip-path: circle(50%);
  width: 6.25rem;
}
#boosts .container .people .pearson .about-pearson {
  margin-left: 1rem;
}
#boosts .container .people .pearson .about-pearson h3 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
}
#boosts .container .people .pearson .about-pearson p {
  font-size: 1rem;
  color: #F28705;
}

#about {
  background: #0C0F1B;
}
#about .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.06rem 0;
}
#about .container h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 4.25rem;
}
#about .container .cards-about {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 22rem);
}
#about .container .cards-about .card-about {
  background: #000;
  border-radius: 0.5rem;
  padding: 1.875rem;
}
#about .container .cards-about .card-about h5 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #F28705;
  margin-bottom: 1rem;
}
#about .container .cards-about .card-about p {
  font-size: 0.9rem;
  color: #fff;
}
#about .container .cards-about .comments {
  grid-column-start: 1;
  grid-column-end: 3;
}
#about .container .cards-about .comments .card-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#about .container .cards-about .comments .card-comment .people-comment {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.875rem;
}
#about .container .cards-about .comments .card-comment .people-comment img {
  width: 3.125rem;
  height: 3.125rem;
  clip-path: circle(50%);
  margin-right: 0.625rem;
}
#about .container .cards-about .comments .card-comment .people-comment p {
  font-size: 1.05rem;
  color: #0B7ABF;
}
#about .container .cards-about .comments .card-comment p {
  font-size: 0.9rem;
}

#contact {
  background-image: url("/assets/background/background-contact.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.125rem 0;
}
#contact .container h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 3.125rem;
}
#contact .container .cards-contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}
#contact .container .cards-contact .card-contact {
  width: 20rem;
  border-radius: 10px;
  background: #0C0F1B;
  padding: 1.5rem 1.125rem;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#contact .container .cards-contact .card-contact h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #F28705;
}
#contact .container .cards-contact .card-contact .button-enviar {
  background: #F28705;
  color: #0C0F1B;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 0px;
  padding: 0.25rem 0;
  width: 100%;
  cursor: pointer;
  transition: filter 0.3s;
}
#contact .container .cards-contact .card-contact .button-enviar:hover {
  filter: brightness(1.2);
}
#contact .container .cards-contact .card-contact .button-enviar img {
  width: 2.06rem;
  height: 2.06rem;
  margin-left: 1.3125rem;
}
#contact .container .cards-contact .card-email h3 {
  margin-bottom: 1.625rem;
}
#contact .container .cards-contact .card-email form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#contact .container .cards-contact .card-email form input, #contact .container .cards-contact .card-email form textarea {
  width: 100%;
  margin-bottom: 1.25rem;
  border-radius: 5px;
  border: 1px solid #0C0F1B;
  padding: 0.625rem 0 0.625rem 0.81rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}
#contact .container .cards-contact .card-email form input::placeholder, #contact .container .cards-contact .card-email form textarea::placeholder {
  color: #0C0F1B;
}
#contact .container .cards-contact .card-email form input {
  height: 2.5rem;
}
#contact .container .cards-contact .card-email form button {
  margin-top: 1.5rem;
}
#contact .container .cards-contact .card-whatsapp {
  height: fit-content;
}
#contact .container .cards-contact .card-whatsapp h3 {
  margin-bottom: 1rem;
}
