#home {
  height: 100vh;
  background-image: url("/assets/background/background-home.png");
}
#home .logo {
  display: flex;
  justify-content: center;
}
#home nav ul {
  display: flex;
}
#home nav ul li {
  list-style: none;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
