#boosts{
  background-image: url('/assets/background/background-boosts.png');
  height: 130vh;

  h2{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 4.18rem;
    color: $branco;
  }

  .people{
    display: grid;
    grid-template-columns: 1fr 1fr;

    .pearson{
      background: $azul-escuro;
      border-radius: 10px;
      width: 90%;
      padding: 1.875rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      margin: 1.56rem;

      img{
        clip-path: circle(50%);
      }

      .about-pearson{
        margin-left: 1rem;

        h3{
          font-size: 2rem;
          color: $branco;
        }

        p{
          font-size: 1.5rem;
          color: $laranja;
        }
      }      
    }
  }
}