#boosts{
  background-image: url('/assets/background/background-boosts.png');
  height: 100vh;

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
      font-size: 2.5rem;
      padding-top: 2rem;
      margin-bottom: 4.18rem;
      color: $branco;
    }

    .people{
      display: grid;
      place-items: center;
      gap: 1.56rem;
      grid-template-columns: 26.25rem 26.25rem;

      .pearson{
        background: $azul-escuro;
        border-radius: 10px;
        width: 90%;
        padding: 1.875rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
      //margin: 1.56rem;

        img{
          clip-path: circle(50%);
          width: 6.25rem;
        }

        .about-pearson{
          margin-left: 1rem;

          h3{
            font-size: 2rem;
            color: $branco;
            font-weight: 400;
          }

          p{
            font-size: 1.5rem;
            color: $laranja;
          }
        }      
      }
    }
  }
}