#boosts{
  background-size: cover;
  background-position: center;
  position: relative;
  background: linear-gradient(0.5turn, $azul-escuro 1%, transparent 99%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .bg-video{
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100vh;
      z-index: -100;
      overflow: hidden;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //padding: 3.5rem 0;

    h2{
      font-size: 2rem;
      margin-bottom: 4.18rem;
      color: $branco;
    }

    .people{
      display: grid;
      place-items: center;
      gap: 1.56rem;
      grid-template-columns:  repeat(2, 23rem);

      .pearson{
        background: $azul-escuro;
        border-radius: 10px;
        width: 90%;
        padding: 1.875rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img{
          clip-path: circle(50%);
          width: 6.25rem;
        }

        .about-pearson{
          margin-left: 1rem;

          h3{
            font-size: 1.5rem;
            color: $branco;
            font-weight: 400;
          }

          p{
            font-size: 1rem;
            color: $laranja;
          }
        }      
      }
    }
  }
}