#contact{
  background-image: url('/assets/background/background-contact.png');
  background-size: cover;
  background-repeat: no-repeat;

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem 0;

    h2{
      font-size: 2.5rem;
      color: $branco;
      margin-bottom: 3.125rem;
    }

    .cards-contact{
      display: flex;
      align-items: flex-start;
      justify-content: space-around;

      .card-contact{
        width: 22.81rem;
        border-radius: 10px;
        background: $azul-escuro;
        padding: 1.5rem 1.125rem;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;

        h3{
          font-size: 1.25rem;
          font-weight: 600;
          color: $laranja;
        }

        .button-enviar{
          background: $laranja;
          color: $azul-escuro;
          font-size: 1.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1rem;
          border: 0px;
          padding: 0.25rem 0;
          width: 100%;
          cursor: pointer;
          transition: filter 0.3s;

          &:hover{
            filter: brightness(1.2);
          }

          img{
            width: 2.06rem;
            height: 2.06rem;
            margin-left: 1.3125rem;
          }
        }
      }

      .card-email{
        margin-right: 10.625rem;

        h3{
          margin-bottom: 1.625rem;
        }
        
        form{
          display: flex;
          align-items: center;
          flex-direction: column;

          input, textarea{
            width: 100%;
            margin-bottom: 1.25rem;
            border-radius: 5px;
            border: 1px solid $azul-escuro;
            padding: 0.625rem 0 0.625rem 0.81rem;
            font-family: "Poppins", sans-serif;

            &::placeholder{
              color: #0C0F1B;
            }
          }

          input{
            height: 2.5rem;
          }

          button{
            margin-top: 1.5rem;
          }
        }
      }

      .card-whatsapp{
        height: fit-content;

        h3{
          margin-bottom: 1rem;
        }
      }
    }
  }
}