#home{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(1turn, $azul-escuro 1%, transparent 99%);

    .logo{
        display: flex;
        justify-content: center;
    }

    .bg-video{
       position: absolute;
       top: 0;
       left: 0;
       object-fit: cover;
       width: 100%;
       height: 100vh;
       z-index: -100;
       overflow: hidden;
    }

    nav{
        ul{
            display:flex ;
            justify-content: center;

            li{
                list-style: none;
                color: #fff;
                margin: 1rem ;
                font-family: "poppins", sans-serif;
            }
        }
  
    }
    .home{
        height: 50%;
        width: 100%;
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .logohome{
            animation: elolegacy 5s ease-in-out infinite;
        }


        img{
            width: 20rem;
        }

        @keyframes elolegacy{
            0%{
                transform: translateY(0);
            }
            50%{
                transform: translateY(-30%);
            }
        }
            

        p{
            color: #fff;
            font-family: "poppins", sans-serif;
            text-align: center;
        }

    }
}