#home{
    height: 100vh;
    background-image: url("/assets/background/background-home.png");
    position: relative;
    .logo{
        display: flex;
        justify-content: center;
    }
    nav{
        ul{
            display:flex ;
            justify-content: center;

            li{
                list-style: none;
                color: #fff;
                margin: 1rem ;
                font-family: "poppins", sans-serif;
            }
        }
  
    }
    .home{
        height: 50%;
        width: 100%;
        margin-top: 5rem;
        display: flex;
        justify-content: center;

        img{
            width: 20rem;
        }

        p{
            color: #fff;
            font-family: "poppins", sans-serif;
            text-align: center;
        }

    }
}