#services{
    height: 40vh;
    background: #0C0F1B ;
    position: relative;

    .cards{
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        display: flex;
        justify-content: center;
        margin: auto;

        .card{
            width: 15rem;
            height: 90%;
            text-align: center;
            margin: 2rem;
            border-radius: 0.5rem;
            background: $preto;
            display: grid;
            place-content: center;
            place-items: center;
            transition: .5s;
            margin-top: -7rem;

            &:hover{
                transform: translateY(-1.5rem);
            }

            .contro{
                margin-bottom: 2.5rem;
            }

            img{
                width: 5rem;
                margin-top: 2rem;
                margin-bottom: 1rem;
            }

            h3{
                color: $laranja;

            }

            p{
                color: #fff;
            }
        }

        div{
            background: $azul;
            width: 70%;
            margin: 2rem auto;
            border-radius: 0.5rem;
        }
    }

}
