#services{
    height: 40vh;
    background: #0C0F1B ;

    .cards{
        width: 80%;
        height: 90%;
        border: 1px solid #fff;
        position: absolute;
        top: 70%;
        left:0;
        right: 0;
        
    }

}
