
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin-left: 10.31rem;
    margin-right: 10.31rem;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import "header", "home", "services", "boosts", "about", "contact", "footer";

